/* Header Section */

header {
    background-color: lightgray;
    display: flex;
    align-items: center;

}

header h1 {
    flex: 1;
    margin-left: 0.5em;
    font-size: 1.5em;
}

header nav ul {
    display: flex;
}

header li {
    margin: 1.5em;
    display: inline-block;
}

header li a {
    text-decoration: none;
    font-size: 1.5em;
    color: aliceblue;
}

/* Main Section */

main {
    background-color: lightblue;
}

/* Projects Section */

#projects {
    padding: 2em;
}

.projects-container {
    display: flex;
    justify-content: space-between;
    flex-direction: column;
}

.projects-container .text-container{
    padding: 0.5em;
    text-align: left;
    font-size: 1.5em;
    border: 0.0625em solid black;
    align-self: flex-start;
}

.projects-container .image-container {
    margin-top: 1em;
    text-align: center;
    display: flex;
    justify-content: space-between;
}
.projects-container img {
    width: 33%;
}

/* Skills Section */

#skills {
    padding: 2em;
}

.skills-container {
    display: flex;
    justify-content: space-between;
    flex-direction: column;
}

.skills-container .text-container {
    padding: 0.5em;
    text-align: left;
    font-size: 1.5em;
    border: 0.0625em solid black;
    align-self: flex-start;
}

.skills-container .image-container {
    display: flex;
    justify-content: space-around;
    margin: 2em;
}
.skills-container img {
    width: 15%;
}

/* Footer Section */

footer {
    background-color: lightcoral;
}

